MONGO_URL = mongodb+srv://<username>:<password>@sit209-sekge.mongodb.net/ABI-Care?retryWrites=true&w=majority
PORT = 5050
MQTT_URL = <YOUR_MQTT_BROKER_URL:PORT>
MQTT_USER = <MQTT_BROKER_USER>
MQTT_PASSWORD = <MQTT_BROKER_PASSWORD>
MAILTRAP_USER = <YOUR_MAIL_TRAP_USER>
MAILTRAP_PASS = <YOUR_MAIL_TRAP_PASSWORD>