MONGO_URL = mongodb+srv://<username>:<password>@sit209-sekge.mongodb.net/ABI-Care?retryWrites=true&w=majority
PORT = 5000
JWT_SECRET = CHANGE_THIS
MAILTRAP_USER = <YOUR_MAIL_TRAP_USER>
MAILTRAP_PASS = <YOUR_MAIL_TRAP_PASSWORD>